* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ionicons';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/ionicons.ttf?v=2.0.0') format('truetype');
}

.ion {
    font-family: 'Ionicons';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    display: inline-block;

    text-transform: none;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ion-drag:before {
    content: '\f130';
}

.ion-ios-arrow-down:before {
    content: '\f3d0';
}

body {
    font-family: 'Segoe UI', 'Open Sans', 'Source Sans Pro', sans-serif;

    overflow: hidden;

    margin: 0;

    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: rgba(0,0,0,1);
    background-color: rgba(0,0,0,.05);

    -webkit-app-region: drag;
         -o-user-select: none;
}

.pull-left {
    float: left;
}

.clearfix {
    clear: both;
}

.conv-category {
    padding: 11px 12px;

    text-transform: uppercase;
}

.topbar {
    font-size: 12px;

    padding: 8px 12px;
}

.header {
    font-size: 17px;
    font-weight: bolder !important;

    margin-bottom: 4px;
}

.menu-trigger {
    font-size: 22px;

    padding: 13px;

    transition: background-color .5s ease;
}

.menu-trigger:hover {
    background-color: rgba(0,0,0,.1);
}

.conversions {
    padding: 10px 12px;
}

.conv {
    margin-bottom: 16.5px;
}

.conversions .conv-label {
    font-size: 15px;
    font-weight: 600;

    margin-bottom: 5px;

    color: rgba(41,82,204,1);
}

.conversions .conv-label:hover {
    color: rgba(0,0,0,.9);
}

.conversions .conv-label:active {
    color: rgba(0,0,0,.7);
}

.conversions .conv-label span {
    margin-right: 7.5px;
}

.conv > .value {
    font-size: 23.5px;
    font-weight: lighter;

    width: 100%;

    border: 0;
    outline: none;
    background: 0;
}

.entry {
    padding: 0 12px;

    background-color: rgba(0,0,0,.05);
}

.inputNumber {
    font-size: 20px;

    float: left;

    width: 33.3333333%;
    height: 42.5px;
    padding: 6px 0;

    text-align: center;

    border: 0;
    outline: none;
}

.inputNumber:hover {
    background-color: rgb(205,205,205);
}

.inputNumber:active, .inputNumber.clicked {
    font-size: 19px;

    padding: 7px 0;

    background-color: rgb(160,160,160);
}

.inputNumber.function {
    font-size: 16px;
    font-weight: 400;

    padding: 10px 0;
}

.offset-33 {
    margin-left: 33.33333333%;
}

.entry, .menu-trigger, .conversions, .header {
    -webkit-app-region: no-drag;
}

.header, .conv-input > .value, .alts .value, .entry {
    font-weight: 500;
}

.alts {
    overflow: hidden;

    height: 37px;
    margin-bottom: 1.5px;
}

.alts .alt-label {
    font-size: 12.5px;
}

.alts .value {
    margin-right: 5px;
}

.alt1, .alt2, .alt3 {
    font-size: 16px;

    float: left;

    margin-right: 15px;
}

.unit1-select, .unit2-select {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

    display: none;
    overflow-y: auto;

    width: 276px;
    max-height: 450px;
    margin: 32px 12px 8px 12px;

    background-color: rgb(225,225,225);
}

.unit1-select .option, .unit2-select .option {
    height: 45px;
    padding: 11px 10px 10px 10px;
}

.unit1-select .option:hover, .unit2-select .option:hover, .type-select .option:hover {
    background-color: rgb(205,205,205);
}

.unit1-select .option:active, .unit2-select .option:active, .type-select .option:active {
    background-color: rgb(190,190,190);
}

.unit1-select .option.selected, .unit2-select .option.selected, .type-select .option.selected {
    background-color: rgb(112, 143, 236);
}

.unit1-select .option.selected:hover, .unit2-select .option.selected:hover, .type-select .option.selected:hover {
    background-color: rgb(97, 124, 206);
}

.unit1-select .option.selected:active, .unit2-select .option.selected:active, .type-select .option.selected:active {
    background-color: rgb(90, 114, 186);
}

.type-select {
    position: absolute;
    z-index: 9999;
    top: 32px;
    left: 0;

    overflow-y: scroll;

    width: 300px;
    max-height: 468px;

    transition: left .1s ease;

    background-color: rgb(225,225,225);
}

.type-select.closed {
    left: -300px;
}

.type-select .options {
    width: 100%;
}

.type-select .option {
    height: 45px;
    padding: 11px 10px 10px 60px;
}

.option-header {
    font-weight: 700;

    padding: 13px 0 0 12px;
}
